{% extends 'base.html' %}

{% block content %}
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Book A Table
        </h2>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form method ="post"> {% csrf_token %}
              <div>
                <input type="text" class="form-control" name ='name' placeholder="Ismingizni Kiriting" />
              </div>
              <div>
                <input type="text" class="form-control" name = 'phone' placeholder="Telfon raqamingizni Kiriting" />
              </div>
              <div>
                <input type="email" class="form-control" name = 'email' placeholder="Emailingizni Kiriting" />
              </div>
              <div>
                <input type="text" class="form-control" name = 'message' placeholder="Tavsiyalaringiz..." />
              </div>
             
              <div class="btn_box">
                <button>
                  Yuborish
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  {% endblock content %}